.offer {
    background-color: #F9F9FF;
    position: relative;
    padding: 100px 0;
    &::before {
        content: '';
        height: 365px;
        width: 386px;
        background-image: url(assets/img/surprise.png);
        background-size: cover;
        background-repeat: no-repeat;
        position: absolute;
        top: 25%;
        left: 20%;
    }
    &__title {
        display: flex;
        justify-content: center;
        margin-bottom: 60px;
    }

    &__body {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__col {
        &:first-child {
            box-sizing: border-box;
            margin-right: 110px;
            >p {
                font-family: $mr;
                font-weight: 400;
                font-size: 25px;
                line-height: 1.1;
                margin: 0;
                color: #000;
                display: block;
                margin-bottom: 100px;
                >span {
                    color: #00BF91;
                    font-weight: 600;
                    text-decoration: underline;
                }
            }
        }
    }

    &__bonus {
        padding-left: 45px;
        font-family: $mr;
        >span {
            display: block;
            position: relative;
            font-size: 20px;
            font-weight: 700;
            margin-bottom: 20px;
            &::before {
                content: '';
                position: absolute;
                top: 0;
                left: -40px;
                width: 24px;
                height: 24px;
                background-image: url(assets/img/icons/checker.png);
                background-size: cover;
                background-repeat: no-repeat;
            }
        }
        >p {
            margin: 0;
            display: block;
            font-size: 25px;
            line-height: 1.2;
            font-weight: 400;
            max-width: 350px;
        }
    }

    &__tab {
        border: 3px solid #135FF6;
        padding: 20px 16px;
        max-width: 350px;
        box-sizing: border-box;
        font-family: $mr;
        >h2 {   
            font-size: 30px;
            margin: 0;
            margin-bottom: 25px;
            font-weight: 700;
            color: #000;
            display: block;
            text-align: center;
        }
        ul {
            list-style: none;
            padding: 0;
            margin: 0;
            margin-bottom: 40px;
            li {
                font-weight: 500;
                font-size: 20px;
                line-height: 1.2;
                margin-bottom: 14px;
                position: relative;
                padding-left: 30px;
                &::before {
                    content: '';
                    position: absolute;
                    top: 40%;
                    left: 0;
                    width: 14px;
                    height: 3px;
                    background-color: #00BF91;
                }
            }
        }
    }

    &__price {
        text-align: center;
        p {
            display: inline-block;
            margin: 0;
            font-size: 45px;
            font-weight: 700;
            color: #00BF91;
            width: fit-content;
            line-height: 1.2;
            position: relative;
        }
        span {
            position: absolute;
            top: -25px;
            font-weight: 500;
            right: 0;
            font-size: 25px;
            color: #e25757;
        }
    }

    &__action {
        text-align: center;
        .main-btn {
            padding: 20px 15px;
            margin-bottom: 20px;
        }
        >span {
            display: block;
            text-align: right;
            padding-right: 20px;
            font-size: 17px;
            font-weight: 500;
            color: #e25757;
        }
    }
}
.container {
}
.section {

    &__title {
    }
}
