//Regular
$mr: 'Montserrat', sans-serif, arial;
//Light
$ml: 'Montserrat', sans-serif, arial;
//Bold
$mb: 'Montserrat', sans-serif, arial;
//Semibold
$ms: 'Montserrat', sans-serif, arial;
//Medium
$mm: 'Montserrat', sans-serif, arial;